<link rel="stylesheet" href="/css/home.css">
<h1>Sign Up</h1>
<form action="/users/create" method="POST">
    
    <input type="text" name="name" placeholder="Enter your Name" required><br>
   
    <input type="email" name="email" placeholder="Enter your Email Id" required><br>
    
    <input type="password" name="password" placeholder="Enter your password"><br>
    
    <input type="password" name="confirm_pwd" placeholder="Confirm your password"><br>
    <input type="submit" value="Sign Up">

</form>